@import '../../../stylesheets/utils/all';

// Disable this because we need to temporarily add extra specificity to all
// legacy styles in the middle of the site transition. All the legacy styles and
// code will go away soon.
/* stylelint-disable max-nesting-depth */

.app {
  .donate-form-button {
    height: 44px;
    margin-top: 25px;
    width: 190px;

    &:hover {
      position: relative;
      top: 1px;
    }
  }

  .donate--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
    max-width: 1050px;
    width: 80vw;
    @include r_max($screen-sm) {
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
    }
  }

  .donate--card {
    align-items: center;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    margin: 15px;
    padding: 25px 25px 40px;
    text-align: center;
    @include r_max($screen-md) {
      margin: 15px;
      padding: 20px;
    }
  }

  .donate--card--amount {
    color: $color-brand;
    font-size: 72px;
    line-height: 1;
    margin: 0;
  }

  .donate--card h6 {
    color: $color-brand;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    text-transform: uppercase;
  }

  .donate--card p {
    margin-top: 15px;
    max-width: 260px;
  }

  .donate--card--custom {
    flex-grow: 2;

    .donate--card--amount {
      font-size: 36px;
      margin-bottom: 20px;
      width: 100%;
    }

    p {
      max-width: 600px;
    }
  }

  .donate--legal {
    margin: 60px 0 0;
    max-width: 580px;
    width: 70vw;
  }

  .donate--address {
    text-align: right;
  }
}
