.wrapper {
  margin: 0 auto;
  max-width: var(--blog-block-width);
}

.statistic {
  color: var(--color-sheltertech-blue);
  font-family: var(--font-family-merriweather);
  font-size: 72px;
  line-height: 1.3;
  margin-bottom: 5px;
  max-width: 296px;
}

.statisticText {
  font: var(--font-body-medium);
  max-width: 296px;
}

@media (--tablet-and-down) {
  .wrapper {
    padding: 0 40px;
  }
}
