//////////////////////////////////////////////////////////////////////////////////////////
// HEADER STYLES

.site-header {
	@extend %flex-row;
	justify-content: space-between;
	margin: calc-em(40px) calc-em(60px);
	position: absolute;
	width: calc(100% - 120px);
	@include r_max($break-tablet-s) {
		justify-content: center;
	}
	@include r_max($break-phone) {
		margin: calc-em(20px) calc-em(60px);
	}
}

.site-logo {
	@extend %hide-text;
	@extend %bg-image;
	background: url(_assets/sheltertech-logo.svg);
	width: calc-em(107px);
	height: calc-em(80px);
}