//////////////////////////////////////////////////////////////////////////////////////////
// NAV STYLES

.site-nav {
	@include r_max($break-tablet-s) {
		display: none;
	}
	a {
		color: $color-white;
		margin: 0 calc-em(10px);
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.5px;
		@extend %font-size-small;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	a.btn {
		color: $color-brand;
	}
}