.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  grid-template-rows: 465px;
  margin: 0 auto 42px;
  max-width: var(--grid-bleed-max-width);
}

.blackBackground {
  background-color: var(--color-black);
}

.bleedMainContent {
  grid-column: 2;
  /* Override grid item default of auto so that item contents cannot stretch the grid itself */
  min-width: 0;
}

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    display: block;
  }

  .gridParent {
    display: block;
  }
}

/* Relating to .bleedImage */
.playButton {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (--laptop-and-up) {
  .bleedImage {
    position: absolute;
  }

  .playIcon {
    height: 92px;
    width: 92px;
  }
}

@media (--tablet-and-down) {
  .bleedImage {
    position: relative;
  }

  .image {
    display: block;
    max-width: 100%;
  }
}

/* Relating to .bleedMainContent */
.textCardWrapper {
  text-align: center;
}

.textCard {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 70px 60px;
}

.eyebrowText {
  color: var(--color-gray-600);
  font: var(--font-action);
  text-transform: uppercase;
}

.description {
  font: var(--font-body-large);
  margin-top: 15px;
}

.actionRow {
  margin-top: 30px;
}

@media (--laptop-and-up) {
  .gridAreaCard {
    grid-column: 8 / span 5;
    z-index: 1;
  }

  .textCardWrapper {
    margin-top: 87px;
  }
}

@media (--tablet-and-down) {
  .textCard {
    padding: 30px;
  }
}
