.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  grid-template-rows: 465px;
  margin: 0 auto 42px;
  max-width: var(--bleed-max-width);
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.blackBackground {
  background-color: var(--color-black);
}

.bleedMainContent {
  grid-column: 2;
}

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    display: block;
  }

  .gridParent {
    display: block;
  }
}

/* Relating to .bleedImage */
.bleedImage {
  align-items: center;
  background: center / contain no-repeat var(--background-image);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.playButton {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

@media (--laptop-and-up) {
  .bleedImageWrapper {
    height: 505px;
    width: 900px;
  }

  .playIcon {
    height: 92px;
    width: 92px;
  }
}

@media (--tablet-and-down) {
  /* Use a trick with bottom padding to allow for responsive elements that
   * preserve  aspect ratio.
   *
   * https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/
   */
  .bleedImageWrapper {
    max-width: 100%;
    padding-bottom: 56.25%; /* 9/16 for a 16:9 aspect ratio */
    position: relative;
  }

  .bleedImage {
    position: absolute;
  }
}

/* Relating to .bleedMainContent */
.textCardWrapper {
  text-align: center;
}

.textCard {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 70px 60px;
}

.eyebrowText {
  color: var(--color-gray-600);
  font: var(--font-action);
  text-transform: uppercase;
}

.description {
  font: var(--font-body-large);
  margin-top: 15px;
}

.actionRow {
  margin-top: 30px;
}

@media (--laptop-and-up) {
  .gridAreaCard {
    grid-column: 8 / span 5;
  }

  .textCardWrapper {
    margin-top: 87px;
  }
}

@media (--tablet-and-down) {
  .textCard {
    padding: 30px;
  }
}
