.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
  padding-bottom: 40px;
  padding-top: 120px;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
}
@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 20px 1fr 20px;
    padding-bottom: 30px;
    padding-top: 80px;
  }
}

.title {
  font: var(--font-headline);
}
