//////////////////////////////////////////////////////////////////////////////////////////
// HELPER VARIABLES

//////////////////////////////////////////////////////////////////////////////////////////
// LAYOUT

$font-size: 15px; // Base Font Size
$max-content-width: 1440px;

//////////////////////////////////////////////////////////////////////////////////////////
// MEDIA QUERIES

$screen-xs: 600px;  /* Extra small screen / phone */
$screen-sm: 767px;  /* Small screen / tablet */
$screen-md: 960px;  /* Medium screen / desktop */
$screen-lg: 1140px; /* Large screen / wide desktop */

// Break points
$max-width-sm: 767px;
$min-width-sm: 768px;

$min-width-emph: 950px;
