.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
  padding-top: 100px;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedWrapper.hasBottomPadding {
  padding-bottom: 100px;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
    padding-top: 30px;
  }

  .bleedWrapper.hasBottomPadding {
    padding-bottom: 40px;
  }
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
}

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
  }
}

.textWrapper {
  grid-column: 2 / span 6;
  grid-row: 1;
}

.title {
  font: var(--font-headline);
  margin: 0;
}

.description {
  font: var(--font-body-medium);
  margin-top: 30px;
}

.description.large {
  font: var(--font-body-large);
  margin-top: 15px;
}

@media (--tablet-and-down) {
  .description {
    margin-top: 20px;
  }
}
