/* Bleed Wrapper */

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
}

.bleedWrapper > * {
  /* Override grid item default of auto so that item contents cannot stretch the grid itself */
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    border-bottom: 1px solid var(--color-gray-400);
    grid-template-columns: 20px 1fr 20px;
  }
}


/* Main component */

.container {
  align-items: center;
  border-bottom: 1px solid var(--color-gray-400);
  display: flex;
  grid-column: 2;
  height: 130px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

@media (--tablet-and-down) {
  .container {
    border-bottom: 0;
    height: 90px;
    padding-left: 0;
    padding-right: 0;
  }
}


/* Wrappers for the mobile and full navigation elements */

@media (--tablet-and-down) {
  .fullNavWrapper {
    display: none;
  }
}

@media (--laptop-and-up) {
  .mobileNavWrapper {
    display: none;
  }
}


/* Subcomponents */

.logo {
  height: 50px;
}

@media (--tablet-and-down) {
  .logo {
    height: 36px;
  }
}

.burgerButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
  padding: 0;
}

.burgerIcon {
  /* Work around issue with outlines and buttons that wrap inline-block
   * elements, such as images.
   *
   * https://bugzilla.mozilla.org/show_bug.cgi?id=687311#c23
   */
  vertical-align: middle;
}

.navList {
  font: var(--font-caption);
  margin: 0;
  padding: 0;
}

.navListItem {
  display: inline-block;
}

.navLink {
  color: var(--color-gray-700);
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--color-gray-300);
  color: var(--color-black);
}

.navLink.currentPage {
  color: var(--color-sheltertech-blue);
}

.navLink.button {
  background-color: var(--color-sheltertech-blue);
  color: var(--color-white);
  margin-left: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.navLink.button:hover {
  background-color: var(--color-sheltertech-blue);
  color: var(--color-white);
  position: relative;
  top: 1px;
}

.navLink.button.currentPage {
  color: var(--color-white);
}
