.wrapper {
  width: 95%;
  max-width: 1200px;
  display: flex;
  @media screen and (max-width: 860px) {
    flex-direction: column;
    width: 90%;
  }
}

.content-left {
  flex: 1 1 auto;
  margin-right: 20px;
}

.content-left h2 {
  font-weight: 300;
  font-size: 28px;
  color: #000;
  margin: 30px 0 15px;
  max-width: 600px;
}

.content-left p {
  font-size: 15px;
  line-height: 130%;
  margin: 0 0 15px;
  max-width: 600px;
}

.content-left ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 15px;
}

.content-left ul li {
  margin-bottom: 10px;
}

.GivingTuesday--photo {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.content-right {
  flex: 0 0 460px;
}

.giveLivelyEmbed {
  height: 100%;
  min-height: 1800px;
}
