.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedMainContent {
  background: var(--color-gray-300);
  grid-column: 2;
  padding: 60px;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    display: block;
  }

  .bleedMainContent {
    padding: 50px 40px;
  }
}

.title {
  font: var(--font-title);
}

@media (--tablet-and-down) {
  .title {
    font: var(--font-headline);
  }
}

.description {
  font: var(--font-body-medium);
  margin-top: 20px;
}

@media (--tablet-and-down) {
  .description {
    font-size: 20px;
  }
}
