@import '../../../styles/utils/all';

.donate-form-button {
  width: 190px;
  height: 44px;
  margin-top: 25px;
  &:hover {
    position: relative;
    top:1px;
  }
}

.donate--cards {
  display: flex;
  margin-top: 60px;
  justify-content: space-evenly;
  width: 80vw;
  flex-wrap: wrap;
  max-width: 1050px;
  @include r_max($screen-sm) {
    flex-direction: column;
  }
}

.donate--card {
	padding: 25px 25px 40px;
	border: 1px solid #CFCFCF;
	border-radius: 9px;
	background-color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 320px;
  @include r_max($screen-md) {
    margin: 15px;
    padding: 20px 20px;
  }
}

.donate--card--amount {
  font-size: 72px;
  color: $color-brand;
  margin: 0;
  line-height: 1;
}

.donate--card h6 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  color: $color-brand;
  text-transform: uppercase;
}

.donate--card p {
  margin-top: 15px;
  max-width: 270px;
}

.donate--card--custom {
  flex-grow: 3;

  & .donate--card--amount {
    font-size: 36px;
    width: 100%;
    margin-bottom: 20px;
  }
  & p {
    max-width: 600px;
  }
}

.donate--legal {
  max-width: 580px;
  width: 70vw;
  margin: 60px 0 0;
}
