.positions h3 {
  color: #484848;
  font-weight: bold;
  margin-top: 80px;
}

.positions-list {
  display: table;
  flex-direction: column;
  max-width: 910px;
  width: 90vw;
}

.positions-list--legend {
  display: table-header-group;
}

.positions-list--legend p {
  color: #666;
  display: table-cell;
  font-size: 13px;
  padding: 40px 0 30px;

  &:first-of-type {
    width: 33%;
  }
}

.positions-list--item {

  display: table-row;
  justify-content: flex-start;
  margin: 0;
  width: 100%;

}

.positions-list--item--title {
  border-top: 1px solid #d8d8d8;
  color: #0025e4;
  display: table-cell;
  flex: 0 1 auto;
  font-size: 21px;
  font-weight: bold;
  padding: 40px 30px 35px 0;
  width: 33%;

  &:hover {
    top: 0;
  }
}

.positions-list--item--desc {
  border-top: 1px solid #d8d8d8;
  color: #666;
  display: table-cell;
  flex: 2 1 auto;
  font-size: 15px;
  padding: 40px 0 35px;
  width: 67%;

  &:hover {
    top: 0;
  }
}

.volunteer--contact {
  margin-top: 40px;
  max-width: 550px;
  width: 90vw;
}
