//////////////////////////////////////////////////////////////////////////////////////////
// HELPER BASE STYLES

html {
  background: $color-white;
  overflow-x: hidden;
}

body {
  background: $color-white;
}

::-moz-selection {
  background: $color-brand-light;
}

::selection {
  background: $color-brand-light;
}

.base-max-width {
  max-width: calc-em($max-content-width);
  width: 90%;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.flex-row-left {
  @include display(flex);
  > * {
    margin-right: calc-em(15px);
    @include flex-grow(1);
    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-row-center {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  > * {
    margin: calc-em(15px);
    @include flex(0 0 auto);
    @include r_min($screen-xs-min) {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @include r_max($screen-xs-min) {
      margin: calc-em(5px) 0;
      @include flex(0 1 100%);
    }
  }
}