//////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: #116EEA;
$color-brand-dark: #0856AD;
$color-brand-light: #b3d4fc;
$color-brand-verylight: #F1F5FA;

$color-green: #01C270;
$color-green-yellow: #AECA0D;
$color-orange: #F3AE00;
$color-red: #F93D3D;

$color-white: #ffffff;
$color-light-grey: #f5f5f5;
$color-medium-grey: #bbbbbb;
$color-grey: #818181;
$color-dark-grey: #444444;
$color-black: #222222;
