/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  margin-bottom: 100px;
  max-width: var(--bleed-max-width);
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
    margin-bottom: 80px;
  }
}

.bleedMainContent {
  grid-column: 2;
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
}

.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
  }
}


/* Main grid areas */

.gridAreaText {
  grid-column: 6 / span 6;
  grid-row: 1;
}

.gridAreaImage {
  grid-column: 2 / span 4;
  grid-row: 1;
}

@media (--tablet-and-down) {
  .gridAreaImage {
    margin-bottom: 16px;
  }
}

/* Right grid area */

.title {
  font: var(--font-body-large);
  margin-bottom: 5px;
  margin-top: 0;
}

.subtitle {
  font: var(--font-subtitle);
}

.description {
  font: var(--font-body-medium);
  margin-top: 20px;
}

.description > :not(:first-child) {
  margin-top: 20px;
}

.description ul {
  list-style: disc;
  margin-left: 1.5em;
}

.ctaButtonRow {
  column-gap: 30px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

@media (--tablet-and-down) {
  .ctaButtonRow {
    flex-flow: column;
    row-gap: 20px;
  }
}


/* Left grid area*/

.image {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

@media (--tablet-and-down) {
  .image {
    height: 180px;
  }
}
