/** Three-Paragraph Block
 *
 * This component makes use of a few advanced techniques to achieve a
 * magazine-style layout that involves sections that break out of grid as well
 * as backgrounds that can bleed out of the grid to either side.
 *
 * It consists of two, unaligned layers of grids, where the outer grid is solely
 * used for the background bleed and the inner grid is aligned to the main,
 * 12-column grid of the site.
 *
 * The background bleed is accomplished by manually positioning a background div
 * and the inner grid content such that they are overlapping, but where the
 * backgrid div spans the left margin area and the center area while the inner
 * grid content only spans the center area.
 *
 * The inner grid is set up with our standard 12-column grid, where elements are
 * placed along the grid, but the image elements are relatively positioned to
 * break out of the grid.
 *
 * https://en.wikipedia.org/wiki/Bleed_(printing)
 * https://mastery.games/post/overlapping-grid-items/
 */


/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  grid-template-rows: auto 0;
  margin: auto;
  max-width: var(--bleed-max-width);
  overflow-x: hidden;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedBackground {
  background: var(--color-gray-300);
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }

  .bleedBackground {
    grid-column: 1 / span 3;
  }
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
  padding: 100px 0;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    padding: 50px 0 80px;
  }
}


/* Main grid areas */

.gridAreaLeft {
  grid-column: 1 / span 4;
  grid-row: 1 / -1;
}

.gridAreaMiddle {
  grid-column: 5 / span 3;
  grid-row: 1;
}

.gridAreaRight {
  grid-column: 9 / span 3;
  grid-row: 1;
}

.gridAreaBottom {
  grid-column: 5 / span 8;
  grid-row: 2;
  margin-top: 50px;
}


/* Component wrappers */

.paragraph1Wrapper {
  margin-top: 25px;
}

.paragraph2Wrapper {
  margin-top: 50px;
}

.paragraph3Wrapper {
  margin-top: 25px;
}

.ctaTitleBlock {
  max-width: 425px;
}

.leftTopImageWrapper {
  margin-top: 70px;
  position: relative;
  right: 75px;
}

.leftBottomImageWrapper {
  left: 30px;
  margin-right: 60px; /* Ensure minimum spacing from the middle grid area. */
  position: relative;
}

.leftBottomImageWrapper.solo {
  margin-top: 40px;
  overflow: hidden;
}

/* Image wrapper if rendering only one image on the left */
.leftBottomImageWrapper.paired {
  margin-top: 135px;
}

.rightImageWrapper {
  margin-right: -170px;
  margin-top: 70px;
}

@media (--tablet-and-down) {
  .paragraph1Wrapper {
    margin-top: 30px;
  }

  .paragraph2Wrapper {
    margin-top: 30px;
  }

  .paragraph3Wrapper {
    margin-top: 30px;
  }

  .ctaTitleBlock {
    margin-top: 40px;
    max-width: 100%;
  }

  .leftTopImageWrapper {
    display: none;
  }

  .leftBottomImageWrapper {
    display: none;
  }

  .rightImageWrapper {
    margin-right: -40px;
    margin-top: 40px;
  }
}


/* Title block */

.title {
  font: var(--font-headline);
  margin: 0;
}


/* Paragraph block */

.paragraphTitle {
  font: var(--font-subtitle);
}

.paragraphDescription {
  font: var(--font-body-medium);
  margin-top: 25px;
}

.paragraphCTAButton {
  margin-top: 25px;
}

@media (--tablet-and-down) {
  .paragraphDescription {
    margin-top: 10px;
  }

  .paragraphCTAButton {
    margin-top: 10px;
  }
}


/* Image Block */

.image {
  max-width: 100%;
}


/* CTA block */

.ctaTitle {
  font: var(--font-title);
}

.ctaButtonRow {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}

.ctaButtonRowItem:not(:last-child) {
  margin-right: 40px;
}

@media (--tablet-and-down) {
  .ctaButtonRow {
    flex-flow: column;
    margin-top: 20px;
  }

  .ctaButtonRowItem:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
