//////////////////////////////////////////////////////////////////////////////////////////
// HELPER VARIABLES

//////////////////////////////////////////////////////////////////////////////////////////
// LAYOUT

$font-size: 16px; // Base Font Size
$max-content-width: 940px;

//////////////////////////////////////////////////////////////////////////////////////////
// MEDIA QUERIES

$screen-xs-min: 600px;  /* Extra small screen / phone */
$screen-sm-min: 767px;  /* Small screen / tablet */
$screen-md-min: 960px;  /* Medium screen / desktop */
$screen-lg-min: 1140px; /* Large screen / wide desktop */
