//////////////////////////////////////////////////////////////////////////////////////////
// SITE FOOTER

.site-footer {
  background: $color-dark-grey;
  padding: calc-em(60px) calc-em(60px) calc-em(20px);
  color: $color-white;
  text-align: center;

  .footerinfo {
    margin: 0 auto calc-em(40px);
    max-width: calc-em(380px);
  }

  .footer-donate {
    margin-bottom: calc-em(20px);
  }

  .email {
    margin-bottom: calc-em(20px);
  }

  .twitter {
    margin-bottom: calc-em(20px);
  }

  .contactinfoheader {
    font-weight: 700;
    margin-bottom: calc-em(5px);
  }

  .contactinfo {
    color: $color-white;
  }

  .copyright {
    margin-top: calc-em(40px);
  }
}