//////////////////////////////////////////////////////////////////////////////////////////
// HOME STYLES

.hero {
  height: 70vh;
  background: url(../../images/bgHeader.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-text-container {
  max-width: calc-em(700px);
  margin: 0 auto;
  height: 100%;
  @include r_max($screen-xs-min) {
    max-width: 80%;
  }
}
.hero-text {
  @include vertical-align();
  @extend .font-size-hero;
  color: $color-white;
  font-weight: 800;
  text-align: center;
}

.about-darcel {
  max-width: $max-content-width;
  margin: calc-em(120px) auto;
  @extend .flex-row-center;
  .about-darcel-img-container {
    @include flex (1 1 auto);
    max-width: 45%;
    margin-right: calc-em(90px);
    @include align-self(center);
    .about-darcel-img {
      @include aspect-ratio(1,1);
      width: 100%;
    }
  }
  .about-darcel-text {
    @include flex (0 0 auto);
    width: calc-em(380px);
    p {
      margin-bottom: calc-em(20px);
      &:first-of-type {
        @extend .font-size-large;
      }
    }
  }
}

.wifiproject {
  @extend .hero;
  height: calc-em(480px);
  background-image: url(../../images/bgSF2.png);
  .hero-text-container {
    max-width: $max-content-width;
  }
  .hero-text {
    @extend .font-size-large;
    @include transform(translateY(-70%));
  }
}

.lifeline {
  position: relative;
  margin: 0 auto;
  max-width: calc-em(600px);
  padding: calc-em(50px) calc-em(80px);
  background: $color-white;
  text-align: center;
  @include transform(translateY(-30%));
  a {
    display: block;
  }
}

.readmore {
  margin: calc-em(30px) auto calc-em(7px);
  font-weight: 700;
}

.askdarcel {
  @extend .hero;
  background-image: url(../../images/bgSF1.png);
  position: relative;
  height: 70vh;
  .left {
    float: left;
    height: 100%;
    margin-right: calc-em(90px);
    img {
      @include vertical-align();
      height: 80%;
      max-height: calc-em(550px);
    }
  }
  .right {
    float: left;
    height: 100%;
    width: calc-em(380px);
    .text {
      @include vertical-align();
      p:first-of-type {
        @extend .font-size-medium;
        margin-bottom: calc-em(10px);
      }
    }
  }
}

.team {
  padding: calc-em(100px) 0 0 0;
  h3 {
    @extend .font-size-large;
    margin-bottom: calc-em(25px);
    font-weight: 800;
    text-align: center;
  }
  .columns {
    @extend .flex-row-center;
    width: calc-em(660px);
    margin: 0 auto;
    p {
      @include flex(0 0 auto);
      width: calc-em(300px);
    }
  }
}

.photos {
  @extend .flex-row-center;
  margin: calc-em(60px) auto 0;
  width: 80%;
  max-width: calc-em(960px);
  .photo {
    @include flex(0 1 auto);
    @include aspect-ratio(1,1);
    width:25%;
    margin: 0;
    img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .photo-caption {
      background: rgba(0,0,0,.5);
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      right: 0;
      color: $color-white;
      text-align: center;
      padding: calc-em(10px);
      .name {
        @extend .font-size-default;
        font-weight: 700;
        margin-bottom: calc-em(3px);
      }
      .title {
        @extend .font-size-small;
      }
    }
  }
}