//////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: #0025E4;
$color-brand-light: #A0BAED;

$color-white: #ffffff;
$color-black: #222222;

$color-text-light: #888888;
$color-text: #666666;
$color-text-strong: #484848;

$color-icon: #CFCFCF;
$color-background: #F9F9F9;
