//////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: #0025e4;
$color-brand-light: #a0baed;

$color-white: #fff;
$color-black: #222;

$color-text-light: #888;
$color-text: #666;
$color-text-strong: #484848;

$color-icon: #cfcfcf;
$color-background: #f9f9f9;
