.container {
  background-size: cover;
  color: var(--color-white);
  display: flex;
  height: 240px;
}

.bottombox {
  align-self: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 72px;
}

.bar {
  background: var(--color-sheltertech-blue);
  height: 100%;
  margin-right: 12px;
  width: 8px;
}

.title {
  font: var(--font-subtitle);
}

.subtitle {
  font: var(--font-body-small);
}

