@import '../../styles/utils/all';

.site--header {
  height: 120px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  z-index: 999;
  @include r_max($screen-sm) {
    position: absolute;
    height: 80px;
  }
}

.site--header--wrapper {
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site--header--logo {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.site--header--logo a{
	background: url(assets/sheltertech-logo.svg);
	width: 107px;
	height: 80px;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 0 0 60px;
  @include r_max($screen-md) {
    margin: 0 0 0 20px;
  }
  @include r_max($screen-sm) {
    width: 80px;
  	height: 60px;
  }
}

.site--header--nav {
  position: relative;
}

.site--header--nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  margin-right: 10px;
  @include r_max($screen-md) {
    display: none;
  }
}

.site--header--nav ul li a {
  display: inline-block;
  color: $color-brand;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px;
}

.site--header--nav .donate-button {
  margin: 20px 15px;
  padding: 10px 15px;
  background: $color-brand;
  color: #fff;
}

.site--header--legal {
  border-top: 1px solid #CFCFCF;
  width: 780px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.site--header--legal ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site--header--legal li,
.site--header--legal li a {
  font-size: 12px;
  color: #666;
  padding-right: 10px;
}

.site--header--legal li:after {
  content: "•";
  padding-left: 10px;
}

.site--header--legal li:last-of-type:after {
  content: "";
}
