@import '../../styles/utils/all';

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  @include r_max($screen-md) {
    display: block;
    position: absolute;
    width: 24px;
    height: 20px;
    right: 36px;
    top: -10px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-brand;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  padding: 20px;
  top: 12px;
  right: 12px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
}

.bm-menu-wrap {
  top: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #484848;
  padding: 0;
}

.bm-item-list a {
  display: block;
  padding: 15px 20px;
  color: $color-brand;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
