@import '../stylesheets/utils/all';

// Header styles
.site--header {
  background: #fff;
  display: flex;
  flex: 0 0 auto;
  height: 120px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  @include r_max($screen-sm) {
    height: 80px;
    position: absolute;
  }
}

.site--header--wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1340px;
  width: 100%;
}

.site--header--logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.site--header--logo a {
  background: url('../images/sheltertech-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 80px;
  margin: 0 0 0 60px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 107px;
  @include r_max($screen-md) {
    margin: 0 0 0 20px;
  }
  @include r_max($screen-sm) {
    height: 60px;
    width: 80px;
  }
}

.site--header--nav {
  position: relative;
}

.site--header--nav {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: space-evenly;
  margin-right: 10px;
  @include r_max($screen-md) {
    display: none;
  }
}

.site--header--nav a {
  color: $color-brand;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.site--header--nav .donate-button {
  background: $color-brand;
  color: #fff;
  margin: 20px 15px;
  padding: 10px 15px;
}

.site--header--legal {
  border-top: 1px solid #cfcfcf;
  padding-bottom: 34px;
  padding-top: 34px;
  width: 780px;
}

.site--header--legal ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.site--header--legal li,
.site--header--legal li a {
  color: #666;
  font-size: 12px;
  padding-right: 10px;
}

.site--header--legal li::after {
  content: '•';
  padding-left: 10px;
}

.site--header--legal li:last-of-type::after {
  content: '';
}

// SlideMenu styles

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  @include r_max($screen-md) {
    display: block;
    height: 20px;
    position: absolute;
    right: 36px;
    top: -10px;
    width: 24px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-brand;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  padding: 20px;
  right: 12px;
  top: 12px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
}

.bm-menu .donate-form-button {
  margin: 0 !important;
}

.bm-menu-wrap {
  top: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #484848;
  padding: 0;
}

.bm-item-list a {
  color: $color-brand;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// Footer styles

.site--footer {
  align-items: center;
  background: #f3f5f7;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  @include r_max($screen-md) {
    height: 320px;
  }
}

.site--footer--nav {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 780px;
  @include r_max($screen-md) {
    display: none;
  }
}

.site--footer--nav ul a {
  color: $color-brand;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.site--footer--nav .donate-button {
  background: $color-brand;
  color: #fff;
  margin: 20px 15px;
  padding: 10px 15px;
}

.site--footer--legal {
  border-top: 1px solid #cfcfcf;
  padding-bottom: 34px;
  padding-top: 34px;
  width: 780px;
  @include r_max($screen-md) {
    border-top: 0;
    width: 100vw;
  }
}

.site--footer--legal ul {
  align-items: center;
  color: #666;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @include r_max($screen-md) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.site--footer--legal li,
.site--footer--legal li a {
  font-size: 12px;
  padding-right: 10px;
  @include r_max($screen-md) {
    padding: 10px;
  }
}

.site--footer--legal li::after {
  content: '•';
  padding-left: 10px;
  @include r_max($screen-md) {
    content: '';
    padding-left: 0;
  }
}

.site--footer--legal li:last-of-type::after {
  content: '';
}


