/* Background bleed */

.bleedWrapper {
  margin: auto;
  max-width: var(--grid-bleed-max-width);
}

/* Top Row */

.subscriptionBlock {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  padding: 35px;
}

.subscribeContainer {
  align-items: baseline;
  display: flex;
}

.title {
  color: var(--color-white);
  font: var(--font-subtitle);
  margin-right: 97px;
}

.form {
  display: flex;
}

.inputText {
  width: 291px;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    display: block;
  }

  .subscriptionBlock {
    padding: 44px 42px 43px;
  }

  .subscribeContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .title {
    font: var(--font-body-large);
    margin-right: 0;
  }

  .form {
    align-items: baseline;
    margin-top: 22px;
  }

  .inputText {
    min-width: 155px;
    width: auto;
  }
}
