/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedBackground {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.bleedBackground.gray {
  background: var(--color-gray-300);
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }

  .bleedBackground {
    grid-column: 1 / span 3;
  }
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-template-rows: auto minmax(0, 1fr);
  padding-bottom: 120px;
  padding-top: 120px;
}

.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    padding: 50px 0 80px;
  }
}


/* Main grid areas */

.gridAreaTitle {
  grid-column: 2 / span 4;
  grid-row: 1;
}

.gridAreaParagraph1 {
  grid-column: 6 / span 6;
  grid-row: 1;
}

.gridAreaParagraph2 {
  grid-column: 2 / span 5;
  grid-row: 2;
  margin-top: 70px;
}

.gridAreaImage {
  grid-column: 8 / span 4;
  grid-row: 1 / span 2;
}

.gridAreaImageAbout {
  grid-column: 8 / span 4;
  grid-row: 2;
  position: relative;
  top: -48px;
}

@media (--tablet-and-down) {
  .gridAreaParagraph2 {
    margin-top: 40px;
  }

  .gridAreaImage {
    margin-right: -40px;
    margin-top: 40px;
    text-align: right;
  }

  .gridAreaImageAbout {
    margin-right: -40px;
    margin-top: 40px;
    text-align: right;
    top: 0;
  }
}


/* Component wrappers */

.paragraph1Wrapper {
  font: var(--font-body-large);
  margin-top: 0;
}

.paragraph2Wrapper {
  font: var(--font-body-small);
}

.paragraph2Wrapper.aboutUsPage {
  font: var(--font-body-medium);
}

.paragraph2Wrapper :first-child {
  margin: 0;
}

.paragraph2Wrapper :not(:first-child) {
  margin-top: 15px;
}

@media (--laptop-and-up) {
  .image1Wrapper.aboutUsPage {
    /* Allows the image to "hang over" the boundary of the component, since the
     * image will not contribute to the height of its grid row. */
    height: 0;
  }
}

/* TODO: These styles work around a few global styles from the legacy site.
 * We may need to revisit how these are styled after removing the legacy site's
 * CSS reset.
 */
.paragraph1Wrapper ul,
.paragraph2Wrapper ul {
  list-style: disc;
  padding-left: 1.5em;
}

@media (--tablet-and-down) {
  .paragraph1Wrapper {
    font: var(--font-body-medium);
    margin-top: 40px;
  }

  .paragraph2Wrapper {
    font: var(--font-body-medium);
    margin-top: 40px;
  }
}


/* Title block */

.title {
  font: var(--font-headline);
  margin: 0;
}


/* Image block */

.image1 {
  max-width: 100%;
}


/* CTA block */

.ctaButtonRow {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}

.ctaButtonItem:not(:last-child) {
  margin-right: 40px;
}

@media (--tablet-and-down) {
  .ctaButtonRow {
    flex-flow: column;
  }

  .ctaButtonItem:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
