.events-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 640px;
  padding: 0 20px;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.event-card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  display: flex;
  margin-top: 10px;
  color: #666;
  cursor: pointer;
}

.event-card--date {
  background: #0025E4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  border-radius: 6px 0 0 6px;
}

.event-card--date--month {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  top: -2px;
}

.event-card--details {
  padding: 15px 20px;
}

.event-card h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.event-card p {
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 0;
}
