.positions-list {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
}

.positions-list--item {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 0;
}

.positions-list--item--title {
  color: #276CE5;
  flex: 0 1 auto;
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 0;
}

.positions-list--item--desc {
  color: #666;
  flex: 2 1 auto;
  font-size: 15px;
  margin-bottom: 0;
}
