/* Outer grid */

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
}


/* Override grid item default of auto so that item contents cannot stretch the grid itself */

.bleedWrapper > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
}

/* Main grid */

.gridParent {
  color: var(--color-black);
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  margin-bottom: 60px;
}


/* Override grid item default of auto so that item contents cannot stretch the grid itself */

.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    margin-bottom: 30px;
  }
}


/* Main grid areas */

.gridAreaLeft {
  grid-column: 2 / span 7;
}


/* Title block */

.title {
  font: var(--font-body-large);
  margin: 0;
}
