@import '../../../styles/utils/all';

.annual-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}

.annual-report h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  color: $color-black;
  max-width: 800px;
  @media screen and (max-width: 600px) {
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

.annual-report .blue {
  color: $color-brand;
}

.annual-report--overview {
  width: 100%;
  padding-bottom: 150px;
}

.annual-report .wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.annual-report--year {
  font-size: 12vw;
  color: $color-brand;
  @media screen and (min-width: 1400px) {
    font-size: 12rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 6rem;
    line-height: 1.2;
  }
}

.annual-report--hero {
  font-size: 6vw;
  max-width: 620px;
  width: 90%;
  color: $color-black;
  letter-spacing: -2px;
  line-height: 6.875vw;
  margin-bottom: 50px;
  @media screen and (min-width: 1400px) {
    font-size: 6rem;
    line-height: 6.875rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.annual-report--text {
  font-size: 18px;
  line-height: 26px;
  max-width:600px;
  width: 100%;
}

.annual-report--growth {
  margin-top: 60px;
  width: 100%;
  height: 0;
  padding-bottom: 45%;
  background-image: url(../assets/team-growth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  @media screen and (max-width: 1000px) {
    padding-bottom: 60%;
  }
  @media screen and (max-width: 500px) {
    padding-bottom: 80%;
  }
}

.annual-report--goals {
  margin-top: 100px;
  max-width: 950px;

  ul {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 45%;
      border-top: 1px solid $color-brand;
      position: relative;
      height: 130px;
      display: flex;
      align-items: center;
      padding: 0 50px;
      @media screen and (max-width: 600px) {
        height: 100px;
        padding: 10px 0 0 20px;
      }

      &:nth-last-of-type(-n+2) {
        border-bottom: 1px solid $color-brand;
      }

      & > p {
        font-size: 1.75rem;
        font-weight: 700;
        @media screen and (max-width: 600px) {
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }

      .goal-number {
        position: absolute;
        opacity: 0.3;
        color: $color-brand;
        font-size: 5.75rem;
        font-weight: 700;
        top: 8px;
        left: 20px;
        @media screen and (max-width: 600px) {
          font-size: 4.5rem;
          left: 0px;
        }
      }
    }
  }
}

.annual-report--shelterconnect {
  background: $color-brand;
  width: 100%;
  padding: 100px 0;

  img {
    width: 90%;
    max-width: 400px;
    margin-bottom: 60px;
  }

  h2 {
    margin-top: 60px;
  }

  ul {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }

    li {
      width: 45%;
      border-top: 1px solid $color-white;
      position: relative;
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:nth-last-of-type(-n+2) {
        border-bottom: 1px solid $color-white;
      }

      .goal-number {
        font-size: 3.5rem;
        color: $color-white;
        @media screen and (max-width: 600px) {
          font-size: 3rem;
        }
      }

      & > p {
        font-size: 13px;
        line-height: 1.3;
      }
    }
  }

  p, h1, h2, h3, h4, h5 {
    color: $color-white;
  }
}

.annual-report--askdarcel {
  background-color: #276CE5;
  background-image: url(../assets/askdarcel-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  padding: 100px 0;

  img {
    width: 90%;
    max-width: 300px;
    margin-bottom: 60px;
  }

  p, .white {
    color: $color-white;
  }

  h2, h3 {
    color: rgba(255,255,255,0.6)
  }

  h3 {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 700;
    max-width: 700px;
    @media screen and (max-width: 600px) {
      font-size: 1.75rem;
    }
  }

  .annual-report--askdarcel-stats {
    margin-top: 100px;

    & > p {
      margin-top: 30px;
    }

    ul {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 40%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      li {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;

        .goal-number {
          font-size: 2rem;
          font-weight: 700;
          color: $color-white;
        }

        & > p {
          font-size: 13px;
          line-height: 1.3;
        }
      }
    }
  }
}

.annual-report--casey{
  background: #008fff;
  width: 100%;
  padding: 100px 0;
  @media screen and (max-width: 600px) {
    padding: 100px 0 50px 0;
  }

  img {
    width: 90%;
    max-width: 330px;
    margin-bottom: 60px;
  }

  p, h1, h2, h4, h5, .white {
    color: $color-white;
  }

  h3 {
    color: rgba(255,255,255,0.6);
    max-width: 480px;
    font-weight: 700;
  }

  h4 {
    margin-top: 50px;
    font-weight: 700;
  }

  .mobile-hide {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .annual-report--casey-stats {
    margin-top: 50px;

    & > p {
      margin-top: 30px;
    }

    ul {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      li {
        width: 28%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid $color-white;

        .goal-number {
          font-size: 2rem;
          font-weight: 700;
          color: $color-white;
          @media screen and (max-width: 600px) {
            font-size: 1.75rem;
          }
        }

        & > p {
          font-size: 13px;
          line-height: 1.3;
        }
      }
    }

    .casey-graph {
      width: 100%;
      margin-top: 50px;
      max-width: 1000px;
    }
  }
}

.annual-report--2019 {
  width: 100%;

  h1 {
    font-size: 6vw;
    color: $color-brand;
    width: 50%;
    margin-top: 100px;
    @media screen and (min-width: 1400px) {
      font-size: 6rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 3rem;
      line-height: 1.2;
      width: 90%;
    }
  }

  .annual-report--text {
    margin-top: 30px;
  }
}


.annual-report--2019-goals {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  li {
    width: 45%;
    border-top: 1px solid $color-brand;
    position: relative;
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0 15% 0 0;
    @media screen and (max-width: 600px) {
      padding: 10px 0;
    }

    &:nth-last-of-type(-n+2) {
      border-bottom: 1px solid $color-brand;
    }

    & > p {
      font-size: 1.75rem;
      font-weight: 700;
      color: $color-black;
      @media screen and (max-width: 600px) {
        font-size: 1.2rem;
      }
    }
  }
}
