.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  justify-items: center;
  margin: auto;
  max-width: var(--bleed-max-width);
  padding-bottom: 120px;
  padding-top: 120px;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 20px 1fr 20px;
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
}
/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}
@media (--tablet-and-down) {
  .gridParent {
    display: block;
  }
}

.textWrapper {
  grid-column-end: 12;
  grid-column-start: 2;
}

.title {
  font: var(--font-headline);
}

.description {
  font: var(--font-title);
}

.description:not(:first-child) {
  margin-top: 40px;
}
