.GivingTuesdayBanner {
  position: absolute;
  z-index: 2;
  top: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    top: 100px;
  }
}

.GivingTuesdayBanner--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0025e4;
  width: 95%;
  max-width: 940px;
  padding: 25px;
  color: #fff;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.GivingTuesdayBanner img {
  @media screen and (max-width: 600px) {
    width: 80%;
    height: auto;
  }
}

.GivingTuesdayBanner p {
  margin: 8px 30px 0 0;
  @media screen and (max-width: 400px) {
    margin: 10px 0 20px 0;
  }
}

.GivingTuesdayBanner .donate-button {
  background: #fff;
  color: #0025e4;
  padding: 15px 35px;
  font-weight: bold;;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
