.gray {
  background-color: var(--color-gray-300);
}

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

.bleedBackground {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }
}

/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  padding: 100px 0 150px;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    padding: 50px 0 38px;
  }
}

.gridAreaBottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  grid-column: 2 / span 10;
  grid-row: 3;
  margin-top: 50px;
}

@media (--tablet-and-down) {
  .gridAreaBottom {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

.title {
  font: var(--font-title);
  grid-column: 2 / span 8;
  margin: 0;
}

.blue {
  color: var(--color-sheltertech-blue);
}

.subtitle {
  font: var(--font-body-medium);
  grid-column: 2 / span 8;
  margin-bottom: 0;
  margin-top: 20px;
}

.card {
  flex: 1 1 0;
  margin-right: 110px;
  width: 250px;
}

.card:last-child {
  margin-right: 0;
}

@media (--tablet-and-down) {
  .card {
    margin-bottom: 40px;
  }

  .card:first-child {
    margin-top: 40px;
  }
}

.cardSubtitle {
  color: var(--color-gray-700);
  font: var(--font-body-small);
  margin-top: 5px;
}

.cardTitle {
  font: var(--font-body-medium);
  margin-top: 5px;
}

.barsContainer {
  display: grid;
}

.barsContainer.vertical {
  column-gap: 20px;
  grid-auto-flow: column dense;
  grid-template-rows: auto auto;
  justify-content: start;
  row-gap: 5px;
}

.barsContainer.horizontal {
  align-items: center;
  column-gap: 10px;
  grid-template-columns: auto auto;
  justify-content: start;
  row-gap: 15px;
}

.barStatisticWrapper.vertical {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.barStatisticWrapper.horizontal {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.bar.small,
.bar.medium {
  background-color: var(--color-gray-600);
  opacity: 0.5;
}

.bar.large {
  background-color: var(--color-sheltertech-blue);
}

.bar.vertical {
  width: 30px;
}

.bar.vertical.small {
  height: 44px;
}

.bar.vertical.medium {
  height: 70px;
}

.bar.vertical.large {
  height: 100px;
}

.bar.horizontal {
  height: 30px;
}

.bar.horizontal.small {
  width: 44px;
}

.bar.horizontal.medium {
  width: 70px;
}

.bar.horizontal.large {
  width: 100px;
}

.label {
  color: var(--color-gray-700);
  font: var(--font-action);
  font-weight: 800;
}

.label.vertical {
  grid-row: 2; /* grid auto flow */
  margin-top: 5px;
}

.statistic {
  font: var(--font-title);
}

.statistic.vertical {
  margin-bottom: 5px;
}

.statistic.horizontal {
  margin-left: 15px;
}

.cardTitle.vertical {
  margin-top: 15px;
}

.cardTitle.horizontal {
  margin-top: 20px;
}
