.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.content {
  background: var(--color-white);
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 80px auto 40px;
  max-width: 850px;
  outline: none;
  padding: 50px;
  position: relative;
}

.closeButton {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (--tablet-and-down) {
  .content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 35px 25px;
  }

  .closeButton {
    right: 25px;
    top: 25px;
  }
}
