.button {
  background-color: var(--color-sheltertech-blue);
  border: 1px solid var(--color-sheltertech-blue);
  color: var(--color-white);
  cursor: pointer;
  font: var(--font-action);
  line-height: 1.5;
  outline: none;
  padding: 16px 40px;
  text-transform: uppercase;
}

.button:hover {
  position: relative;
  top: 1px;
}
