.btn, button {
	border: 0;
  border-radius: calc-em(20px);
  padding: calc-em(10px) calc-em(19px);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  color: $color-brand;
  background: $color-white;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 200ms ease;
  @extend %font-size-small;
  &:hover {
    color: $color-brand;
    background-color: transparentize($color-white, .2);
    text-decoration: none;
  }
  &.loading {
    background-image: url(_assets/smallLoader.svg);
    background-size: calc-em(16px);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999;
    overflow: hidden;
    color: transparent;
    &:hover {
      background-color: $color-white;
      color: transparent;
      border: 1px solid $color-grey3;
    }
  }
  &.disabled {
    background: $color-grey2;
    color: $color-grey2;
    border: 1px solid $color-grey3;
    &:hover {
      background: $color-grey2;
      color: $color-grey2;
      border: 1px solid $color-grey3;
    }
  }
  &.text-button {
    @extend %font-size-small;
    text-transform: none;
    background: none;
    border: 0;
    color: $color-white;
    font-weight: 400;
    height: auto;
    margin: calc-em(20px) auto;
    &:hover {
      background: none;
      color: $color-brand;
    }
  }
}