//////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: #0026EB;
$color-brand-dark: #001B9C;
$color-brand-dark2: #040274;
$color-brand-light: #1C72E6;

$color-green: #01C270;
$color-green-yellow: #AECA0D;
$color-orange: #F3AE00;
$color-red: #F93D3D;

$color-white: #ffffff;
$color-grey0: #f5f5f5;
$color-grey1: #bbbbbb;
$color-grey2: #818181;
$color-grey3: #444444;
$color-black: #222222;