//////////////////////////////////////////////////////////////////////////////////////////
// FORM ELEMENTS

.form-row {
  @extend %flex-row;
  > button {
    @include flex-grow(0);
  }
}

input[type="text"] {
  background: $color-white;
  border: 0;
  border-radius: 4px;
  height: calc-em(50px);
  padding: calc-em(6px) calc-em(15px);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  display: inline-block;
  @extend %font-size-default;
}